@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.card-content {
    padding-bottom: 24px !important;
}

.card-action a {
    margin-right: 5px;    
    margin-top: 5px;
    font-weight: bold;
}

.training-card-name {
    @include fontSize(24px);
    color: $primary-color;     
}

.training-card-subtitle {
    @include fontSize(18px);
    color: $dark-grey;
}

.taining-card-icon {
    padding-right: 5px;
}

.badge {
    background-color: $primary-color;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 15px 0 0 0;
    border-radius: 5px 0 0 5px;
}