@import '../../assets/styles/variables';

.edit-data-header {
    width: 100%;
}

.profile-pic-img {
    width: 175px !important;
    height: 175px !important;
}

.supplement-img {    
    border-radius: 5px;
}

.supplement-name {
    font-weight: bold;
}