@import './assets/styles/_variables';
@import './assets/styles/_mixins';

body {
  margin: 0;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto';  
  background-color: $light-grey;
}

.wrapper {
  padding-left: 335px;  
  padding-right: 35px;
}

.card-top-title {
  @include fontSize(20px);  
  color: $primary-color;
  margin: 0;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

@media only screen and (max-width : 992px) {
	.wrapper {
		padding-left: 35px;
	}
}
